<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <resourceRepository type ="Sitecore.Support.Commerce.Data.Products.ResourceRepository, Sitecore.Support.205032" singleInstance="true"
                        patch:instead="resourceRepository[@type='Sitecore.Commerce.Data.Products.ResourceRepository, Sitecore.Commerce']">
      <param desc="mediaProvider" ref="mediaLibrary/mediaProvider" />
      <path ref="paths/resources" />
      <template>{962B53C4-F93B-4DF9-9821-415C867B8903}</template>
      <prefix>Resource_</prefix>
      </resourceRepository>
  </sitecore>
</configuration>